* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: rgb(128, 191, 233);
}

/* --------------------------------------------------------------- */
/* -------------------- Navigation Part Below -------------------- */
/* --------------------------------------------------------------- */

nav {
    user-select: none;
}

.navbar-toggler {
    padding: 2px 5px !important;
    box-shadow: 0 0 0 #fff !important;
}

.navbar-toggler .navbar-toggler-icon {
    font-size: 16px !important;
}

nav a {
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a:hover:not(.navbar-brand) {
    color: cyan !important;
}

/* --------------------------------------------------------------- */
/* --------------------- Home Part Below ----------------------- */
/* --------------------------------------------------------------- */

.home .mybtn {
    background: rgba(0, 255, 255, 0.255);
    width: 170px;
}

.home span::selection,
.brand-heading::selection,
.intro-text::selection {
    text-shadow: none !important;
    background: #fcfcfc !important;
    background: rgba(255, 255, 255, .2) !important;
}

.brand-heading span::selection,
.intro-text span::selection {
    color: cyan;
    text-shadow: none !important;
    background: #fcfcfc !important;
    background: rgba(255, 255, 255, .2) !important;
}

.brand-heading {
    cursor: pointer;
}

.brand-heading span {
    color: rgba(0, 255, 255, 0.575);
}

.brand-heading span:hover {
    color: rgba(0, 255, 255);
}

.intro {
    display: table;
    width: 100%;
    height: 100vh !important;
    padding: 100px 0 100px 0;
    text-align: center;
    color: #fff;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.88)), url('http://unsplash.it/1600/1400?random=9'), url(../images/load-bg.jpg) !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 80px;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.intro .intro-body .intro-text span {
    color: rgba(0, 255, 255, 0.575);
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 20px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: inline-block;
        padding: 10px 0;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 3px;
    }
}

.btn-circle {
    width: 50px !important;
    height: 50px !important;
    margin-top: 50px !important;
    line-height: 40px !important;
    text-align: center !important;
    border-radius: 100% !important;
    font-size: 20px !important;
    color: #fff !important;
    background: 0 0;
    border: 1px solid #fff !important;
    animation: animated-shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: background .3s ease-in-out, box-shadow 1s linear;
}

@keyframes animated-shadow {
    0% {
        box-shadow: 0 0px 3px #fff;
    }

    50% {
        box-shadow: 0px 0px 10px #fff;
    }

    100% {
        box-shadow: 0px 0 3px #fff;
    }
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff !important;
    background: rgba(255, 255, 255, .2) !important;
    border: 2px solid #fff !important;
}

.btn-circle i.animated {
    animation: godown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 1s ease-in;
}

.btn-circle:hover i.animated {
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes godown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* --------------------------------------------------------------------- */
/* ---------------------- About Page Below ----------------------------- */
/* --------------------------------------------------------------------- */

.skills {
    background: #bbb;
}

.skills .skill img {
    transition: 0.3s;
}

.skills .skill:hover img {
    transform: scale(0.9) translateY(-10px);
}


.myheading {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-radius: 62% 38% 64% 36% / 48% 50% 50% 52%;
    background: linear-gradient(120deg, blue, orangered 2%, blue);
    user-select: none;
}

/* --------------------------------------------------------------------- */
/* --------------------- Contact Page Below ---------------------------- */
/* --------------------------------------------------------------------- */

.contact-form {
    box-shadow: 0 0 2px #fff;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 300px;
}

.contact-form legend {
    cursor: default;
}

.contact-form legend span:hover {
    color: rgba(0, 255, 255, 0.575);
}

.contact-form input,
.contact-form textarea {
    outline: none;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 255, 255, 0.575);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.46);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.contact-form input {
    height: 40px;
}

.contact-form textarea {
    resize: none;
}

.contact-form input:hover,
.contact-form textarea:hover {
    box-shadow: 0 1px 1px rgb(0, 255, 76);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #7d7d7d;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 1px 1px red;
}

.contact-form input:valid,
.contact-form textarea:valid {
    box-shadow: 0 1px 1px rgb(0, 255, 76);
}

.contact-form button {
    background: rgba(0, 255, 255, 0.255);
    outline: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.contact-form button:hover {
    background: rgba(0, 255, 255, 0.575);
}

/* --------------------------------------------------------------------- */
/* --------------------- Footer Part Below ----------------------------- */
/* --------------------------------------------------------------------- */

.socials li {
    position: relative;
    padding: 18px;
    border-radius: 100%;
    border: 1px solid;
    animation: animatedborder 10s linear infinite;
}

@keyframes animatedborder {
    0% {
        border-color: cyan;
    }

    25% {
        border-color: blue;
    }

    50% {
        border-color: red;
    }

    75% {
        border-color: green;
    }

    100% {
        border-color: cyan;
    }
}

.socials a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 100%;
    transition: 0.4s ease;
}

.socials a:hover li {
    box-shadow: 0 0 7px #fff;
    background: rgba(255, 255, 255, .2);
}

.socials a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.personal p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 16px;
}

.personal p i {
    margin-right: 5px;
}